* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flexcontainer-project-cards {
    display: flex;
    flex-wrap: wrap;
}

#project-card-2 img {
    width: 100%;
    min-width: 400px;
}