* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {}

.header {}

.header nav {}

.header h1 {}

.header ul {}

 .header li {}

 a {}

 p {}

 .portfolio-content {}

 #about-me {}

 #work {}

 #contact-me {}
 
.flexcontainer-project-cards {
    display: flex;
    flex-wrap: wrap;
    
}

.flexcontainer-project-cards img {
    width: 100%;
    min-width: 400px;
}

.footer {}